/*
mecab.rc - Crate file of MeCab bindings for Rust.

Copyright (C) 2012 Tycho Sci.

This binding is licensed under the same license of MeCab.
*/

#[link(name = "mecab",
       vers = "0.1",
       uuid = "157601c8-818c-4898-b1dc-890eeeab4936",
       url  = "https://github.com/tychosci/rust-mecab")];

#[comment = "MeCab bindings for Rust"];
#[license = "GPL/LGPL/BSD"];
#[crate_type = "lib"];

